<ion-content>
    <ion-toolbar class="height-padding-2">
        <ion-buttons slot="end">
            <ion-button class="follow-btn">Follow</ion-button>
        </ion-buttons>
    </ion-toolbar>
    <div class="row">
        <img class="avatar width-margin-2" src="https://avatars1.githubusercontent.com/u/20142337" />
        <div class="column">
            <app-heading class="bottom-margin-1" medium bold>Gabriel Ramos</app-heading>
            <app-text>Mobile Developer | Computer Engineer </app-text>
        </div>
    </div>
    <div class="row top-margin-3 width-padding-2 stats">
        <div class="column text-center">
            <app-heading small bold>1.3k</app-heading>
            <app-text>Likes</app-text>
        </div>
        <div class="column text-center">
            <app-heading small bold>5.4k</app-heading>
            <app-text>Followers</app-text>
        </div>
        <div class="column text-center">
            <app-heading small bold>8.7k</app-heading>
            <app-text>Shots</app-text>
        </div>
        <div class="column text-center">
            <app-heading small bold>9.5k</app-heading>
            <app-text>Focus</app-text>
        </div>
    </div>
</ion-content>
